ul.nav.nav-pills.nav-stacked
  li(class=page.url.match(/\/$/) || page.url.indexOf("index.html") >= 0?"active":""): a(href="index.html") Início
  li(class=page.url.indexOf("introducao.html") >= 0?"active":""): a(href="introducao.html") Introdução
  li(class=page.url.indexOf("preparacao.html") >= 0?"active":""): a(href="preparacao.html") Preparação
  li(class=page.url.indexOf("criacao_de_personagens.html") >= 0?"active":""): a(href="criacao_de_personagens.html") Criação de personagens
  li(class=page.url.indexOf("construcao_da_cidade.html") >= 0?"active":""): a(href="construcao_da_cidade.html") Construção da cidade

  li(class=page.url.indexOf("planilha_e_mapa_da_cidade.html") >= 0?"active":""): a(href="planilha_e_mapa_da_cidade.html") Planilha e mapa da cidade
  li(class=page.url.indexOf("testes_e_conflitos.html") >= 0?"active":""): a(href="testes_e_conflitos.html") Testes e conflitos
  li(class=page.url.indexOf("narrando_um_sonho.html") >= 0?"active":""): a(href="narrando_um_sonho.html") Narrando um sonho
  li(class=page.url.indexOf("o_jogo_longo.html") >= 0?"active":""): a(href="o_jogo_longo.html") O jogo longo (ou Campanhas)
  li &nbsp;
  li(class=page.url.indexOf("sobre_o_jogo.html") >= 0?"active":""): a(href="sobre_o_jogo.html") Sobre o jogo
  li(class=page.url.indexOf("rpg_no_github.html") >= 0?"active":""): a(href="rpg_no_github.html") RPG no GitHub
